# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\项目\oneme\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
